/*
 * @author ojourmel
 *
 * Media first style scss
 *
 */


$font-stack: 600 18px/28px "Open Sans", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", Sans-Serif;

$primary-color: #2E0763;
$secondary-color: #4D445C;
$accent-color: #AEAEBA;

$margin: .25%;

html, body, .omp-page {
  padding:0;
  margin:0;
  height:100%;
  width:100%;
}

.omp-page {
  font: $font-stack;
  background: $secondary-color;
  display: flex;
  flex-direction:column;
}

a {
  color: #fff;
}
a.selected {
  color: $accent-color;
}

.omp-navbar:before,
.omp-navbar:after{
  content: "";
  display: table;
}
.omp-navbar:after{
  clear: both;
}
.omp-navbar {
  margin: $margin;
  margin-bottom: 0;
  background: $accent-color;
  display: flex;
  flex-direction: row;
}

.omp-navitemcontainer {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  flex-grow: 1;
}

.omp-navmenu {
  background: $primary-color;
  float: right;
  margin: $margin;
  padding: 0px;
  text-align: center;
  color: #fff;
  min-width: 25px;
  min-height: 25px;
}

.omp-navitem {
  background: $primary-color;
  margin: $margin;
  padding: 0px;
  text-align: center;
  color: #fff;
  flex-grow: 1;
}

.omp-app{
  background: $accent-color;
  *zoom: 1;
  margin: $margin;
  height: 100%;
  float: left;
  display: flex;
  flex-direction: column;
}

.omp-main {
  float: right;
  margin: 0;
  padding: 0px;
  width: 100%;
  display: inline-flex;
  flex-direction: column;
  flex-grow: 1;
}

.omp-content,
.omp-controls,
.omp-sidebar {
  background: $primary-color;
  color: #fff;
  margin: $margin;
  padding: 0px;
  text-align: center;
  min-height: 0;
}
.omp-sidebar {
  display: none;
}
.omp-content {
  float: left;
  height: 100%;
  flex-grow: 1;
}
.omp-controls {
  float: left;
  height: 50px;
  margin-top: 0;
}

@media all and (min-width: 1024px) {

  .omp-app {
    flex-direction: row;
  }

  .omp-main {
    float: right;
    margin: $margin;
    margin-left: 0;
  }
  .omp-content {
    margin: 0;
    margin-bottom: $margin;
    width: 100%;
  }
  .omp-controls {
    margin: 0;
    margin-top: $margin;
    width: 100%;
  }
  .omp-sidebar {
    width: 33%;
    display: block;
    float: left;
  }
}

