/*
 * @author ojourmel
 *
 * TODO: Fix hover/active duplication
 * TODO: Use mixins to reduce css repitition
 * TODO: Better use conditionals and nested sass to improve
 *       readablility
 *
 */

/* ***** Variables and other scss declarations ***** */
@import "global";

/* ***** Global Dispay options ***** */
html, body {
  padding:0;
  margin:0;
  height: 100%;
  min-width:320px;
}

a {
  color: $color-text-light;
  outline: 0;
}

/* ***** Page and container definition ***** */
.omp-page {
  display: flex;
  flex-flow: column;
  min-height: 100%;

  background: $color-primary;
  font: $font-stack;
}

/* ***** Generic app ***** */
.omp-app {
  flex: 1 0 auto;

  display: flex;
  flex-flow: column;

  margin: $margin;
}

/* ***** Nav bar and items ***** */
@import "nav";

/* ***** audio/image/video player ***** */
@import "player";

.omp-file-nav {
  float: left;
}
.omp-file-nav ul > li {
  list-style-type: circle;
  list-style-position:inside;
  margin-left: 5px;
  padding-left: 5px;
}
.omp-file-list {
  float: right;
}

.hover:active {
  background:rgba(0,0,0,0.25);
}
@media (min-width: 768px) {
  .hover:hover {
    background:rgba(0,0,0,0.25);
  }
}

.cursorclick {
  cursor:pointer;
}
