/*
 * @author ojourmel
 *
 */

/* Variables and other scss declarations */
@import "global";


/* ***** Global Dispay options ***** */
html, body, .omp-page {
  padding:0;
  margin:0;
  height:100%;
  width:100%;
}

a {
  color: #eee;
}

/* ***** Page and container definition ***** */
.omp-page {
  display: block;

  overflow-y: scroll;
  overflow-x: auto;

  background: #605D66;
  font: $font-stack;
}

/* ***** Generic app ***** */
.omp-app {
  margin: $margin;
}

/* ***** Nav bar and items ***** */
@import "nav";

.omp-playercontainer {
  text-align: center;
}
.omp-player {
  text-align: left;
  margin: auto;
  display: inline-block;
}

.omp-file-nav {
  float: left;
}
.omp-file-nav ul > li {
  list-style-type: circle;
  list-style-position:inside;
  margin-left: 5px;
  padding-left: 5px;
}
.omp-file-list {
  float: right;
}

.hover:hover {
  background:rgba(0,0,0,0.25);
}

.cursorclick {
  cursor:pointer;
}
