/*
 * @author ojourmel
 *
 */

@import "global";

/* ***** Nav container and items ***** */
.omp-nav {
  display: flex;
  min-height: 2em;

  margin: $margin;
  margin-bottom: 0;

  background: $color-accent-light;
}

.omp-nav-items {
  display: flex;
  flex-flow: column;
  width: 100%;
}

.omp-nav-item {
  height: 0;
  opacity: 0;
  visibility: hidden;

  width: 100%;

  text-align: center;

  background: $color-accent-dark;
}
.omp-nav-item:active {
  background:color-dark-hover($color-accent-dark);
}
@media (min-width: 768px) {
  .omp-nav-item:hover {
    background:color-dark-hover($color-accent-dark);
  }
}

.omp-nav-item.active, #omp-nav-toggle:checked + .omp-nav-items > .omp-nav-item {
  margin-top: $margin;
  height: initial;
  opacity: 1;
  visibility: visible;
}
.omp-nav-item.active {
  background:color-dark-hover($color-accent-dark);
  order: -1;
}
#omp-nav-toggle:checked + .omp-nav-items > .omp-nav-item:last-child {
  margin-bottom: $margin;
}

#omp-nav-toggle {
  display: none;
}
#omp-nav-home, #omp-nav-toggle-label {
  color: $color-text-dark;
  text-align: center;
  cursor: pointer;
  display: inline-block;

  width: 28px;
  height: 28px;
  margin: $margin;
  margin-bottom: auto;
  &:active {
    background: color-dark-hover($color-accent-light);
    color: color-light-hover($color-text-dark);
    cursor: pointer;
  }
  @media (min-width: 768px) {
    &:hover {
      background: color-dark-hover($color-accent-light);
      color: color-light-hover($color-text-dark);
      cursor: pointer;
    }
  }
}

/* Remove mobile touch blue highlight */
#omp-nav-home, #omp-nav-toggle-label, .omp-nav-item {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .omp-nav-items {
    flex-flow: row;
  }
  .omp-nav-item {
    margin: $margin;
    margin-left: 0;
    height: initial;
    opacity: 1;
    visibility: visible;

  }
  .omp-nav-item.active {
    order: inherit;
  }

  #omp-nav-toggle-label {
    display: none;
  }
}
